@model RegisterVM
@inject ILayoutService layout;

@section Links{

    <link rel="stylesheet" href="~/assets/css/register/register.css">
    <title>Register</title>
}



@{
    ViewData["Title"] = "Register";
}

<main>
    <section id="top-column-content">
        <div class="column-content">
            <div class="title">
                <h2>Register</h2>
            </div>
            <div class="choose mt-4">
                <a asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </div>
    </section>

    <section id="register-page" class="mt-5">
        <div id="main-wrapper" class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">

                                <div class="col-lg-6 d-none d-lg-inline-block">
                                    <div class="account-block rounded-right">
                                        <div class="overlay rounded-right"></div>
                                        <div class="account-testimonial">
                                            <h4 class="text-white mb-4">Stylish shoes are here!</h4>
                                            <p class="lead text-white">"You are making the right choice"</p>
                                            <p>- Admin User</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-5">
                                            <h3 class="h4 font-weight-bold text-theme">Register </h3>
                                        </div>

                                        <h6 class="h5 mb-0 login-title">Welcome back!</h6>
                                        <p class="text-muted mt-2 mb-5">
                                            Enter your email address and password to
                                            access WebSite.
                                        </p>

                                        <form method="post" asp-action="Register">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">First Name</label>
                                                <input type="text" class="form-control" asp-for="FirstName" id="">
                                                <span class="text-danger" asp-validation-for="FirstName"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Last Name</label>
                                                <input type="text" class="form-control" asp-for="LastName" id="">
                                                <span class="text-danger" asp-validation-for="LastName"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="text" class="form-control" asp-for="Email" id="exampleInputEmail1">
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>
                                            <div class="form-group mb-5">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                            <div class="form-group mb-5">
                                                <label for="exampleInputPassword1">Confirm Password</label>
                                                <input type="password" class="form-control" id="" asp-for="ConfirmPassword">
                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                            <button type="submit" class="btn btn-theme">Create</button>

                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end card-body -->
                    </div>


                </div>
                <!-- end col -->
            </div>
            <!-- Row -->
        </div>
    </section>
</main>




@section Script{

    <script src="~/assets/js/register.js"></script>
 }
