@model ResetPasswordVM
@inject ILayoutService layout;


@section Links{

    <link rel="stylesheet" href="~/assets/css/login/login.css">
    <title>Reset Password</title>
}

@{
    ViewData["Title"] = "Index";
}



<main>
    <section id="top-column-content">
        <div class="column-content">
            <div class="title">
                <h2>Forgot Password</h2>
            </div>
        </div>
    </section>

    <section id="login-page" class="mt-5">
        <div id="main-wrapper" class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-5">
                                            <h3 class="h4 font-weight-bold text-theme">Forgot Password</h3>
                                        </div>

                                        <p class="text-muted mt-2 mb-5">
                                            Enter New PassWord
                                        </p>
                                        <div class="text-danger" asp-validation-summary="All"></div>
                                        <form method="post" asp-controller="Account" asp-action="ResetPassword">
                                            <div class="form-group mb-5 password-input">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
                                            </div>
                                            <div class="form-group mb-5 password-input">
                                                <label for="exampleInputPassword1">Repeat Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="ConfirmPassword">
                                            </div>
                                            <button type="submit" class="btn btn-theme">Send</button>

                                            <input type="hidden" asp-for="Token" value="@Model.Token" />
                                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />

                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-6 d-none d-lg-inline-block">
                                    <div class="account-block rounded-right">
                                        <div class="overlay rounded-right"></div>
                                        <div class="account-testimonial">
                                            <h4 class="text-white mb-4">Stylish shoes are here!</h4>
                                            <p class="lead text-white">"You are making the right choice"</p>
                                            <p>- Admin -</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- Row -->
        </div>
    </section>


</main>

@section Script{

    <script src="~/assets/js/login.js"></script>
 }