@{
    ViewData["Title"] = "VerifyEmail";
}



<main>
    <div class="container">
        <div>
            <h1>
                <div class="alert alert-info" role="alert">
                    Please, check mail for register confirmation!
                </div>

            </h1>
        </div>
    </div>
</main>
