@{
    ViewData["Title"] = "VerifyEmail";
}



<main>
    <div class="container">
        <div>
            <h1>
                Please, check mail for register confirmation!

            </h1>
        </div>
    </div>
</main>
