@model BrandLogoUpdateVM
@{
    ViewData["Title"] = "Edit";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="image "><img class="img-fluid" src="~/assets/img/home/brandlogo/@Model.Image" /></div>

                <form method="post" enctype="multipart/form-data" asp-action="Edit">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" asp-for="Photo">
                    </div>
                    
                  
                    <a asp-action="Index" style="background-color:red" class="btn btn-danger"><i class="fa-solid fa-backward"></i>  Cancel</a>
                    <button type="submit" style="background-color:#05b505" class="btn btn-success"><i class="feather mr-2 icon-check-circle"></i>Submit</button>
                </form>
            </div>
        </div>

    </div>
</section>





