@model LayoutVM


<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <h2>Store Information</h2>
                        <ul>
                            <li>
                                <span>@Model.GetSettingDatas["addres"]</span>
                            </li>
                            <li>
                                <span class="num">@Model.GetSettingDatas["Mobil"]</span>
                            </li>
                            <li>
                                <a class="mail" href="">@Model.GetSettingDatas["gmail"]</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <h2>Find It Fast</h2>
                        <ul>
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li>
                                <a href="">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="">Support</a>
                            </li>
                            <li>
                                <a href="">FAQs</a>
                            </li>
                            <li>
                                <a href="./contact.html">Contact</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <h2>Information</h2>
                        <ul>
                            <li>
                                <a href="">Search</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Delivery Information</a>
                            </li>
                            <li>
                                <a href="">Size Chart</a>
                            </li>
                            <li>
                                <a href="">Police For Buyer</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <h2>Privacy & Policy</h2>
                        <ul>
                            <li>
                                <a href="">Shipping</a>
                            </li>
                            <li>
                                <a href="">Sitemap</a>
                            </li>
                            <li>
                                <a href="">Delivery Information</a>
                            </li>
                            <li>
                                <a href="">Track My Order</a>
                            </li>
                            <li>
                                <a href="">Police For Seller</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>