@model ModalVM


<div class="mini-modal">
    <div class="product-modal d-none">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="delete-icon">
                        <a href=""><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="prod-tittle">
                            <h2>@Model.Name</h2>
                    </div>
                    <div class="price-discount">
                        <div class="discount">
                            <del></del>
                        </div>
                        <div class="pro-price">
                            <p></p>
                        </div>
                    </div>

                    <div class="border">
                    </div>
                    <div class="text3">
                        <p></p>
                    </div>
                    <div class="pro-description">
                        <p>
                            
                        </p>
                    </div>

                    <div class="pro-category">
                        <div class="category-name">
                            <span class="type">Type</span>
                            <span class="type-name">
                                :
                            </span>
                        </div>

                        <div class="category-name">
                            <span class="type">Vendor</span>
                            <span class="type-name">
                                :
                            </span>
                        </div>
                        <div class="category-name">
                            <span class="type">SKU</span>
                            <span class="type-name">
                                :
                            </span>
                        </div>

                        <div class="category-name">
                            <span class="type">Size</span>
                            <select id="size">
                                <option value="39">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                            </select>

                        </div>


                        <div class="input-icon">
                            <div class="inputs">
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" value="1" />
                                    <span class="plus">+</span>
                                </div>
                            </div>

                        </div>

                        <div class="box">
                            <button class="button">
                                <span>Add To Cart</span>
                            </button>
                        </div>

                        <div class="prod-detail">
                            <a href="">View Full Product Details</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>