@model BlogVM


@section Links{

    <link rel="stylesheet" href="~/assets/css/blog-details/blog-details.css">
    <title>Blog Details</title>
}


@{
    ViewData["Title"] = "BlogDetails";
}

<main>
    <section id="top-column-content">
        <div class="column-content">
            <div class="title">
                <h2>Blog</h2>
            </div>
            <div class="choose">
                <a asp-controller="Home" asp-action="Index">Home |</a>
                <span>@Model.Blog.Title</span>
            </div>
        </div>
    </section>

    <section id="blog-area">
        <div class="container">
            <div class="blog-detail-item">
                <div class="blog-content">
                    <div class="blog-create-time">
                        <span class="aouthor">Admin</span>
                        <span class="date">@Model.Blog.CreatedDate.ToString("dd MMMM yyyy")</span>
                    </div>
                    <h2 class="title-text">There Many Variations</h2>
                    <p class="short-desc">
                       @Model.Blog.Description
                    </p>
                </div>
                <div class="blog-img">
                    <img src="~/assets/img/home/Blog/@Model.Blog.Image" alt="">
                </div>
                <p class="short-desc mt-5">
                   @Model.Blog.Description
                </p>
                <div class="back-button">
                    <a asp-controller="Home" asp-action="Index"><i class="bi bi-chevron-double-left"></i>Go To Back</a>
                </div>

            </div>
        </div>
    </section>
</main>




@section Script{

        <script src="~/assets/js/blog-details.js"></script>
    }
